.header{
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    min-height: var(--headerHeight);
    color: var(--white);
    font-size: 25px;
}

button:not(:last-child) {
    margin-right: 5px;
}