@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family:'Inconsolata', monospace;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin:0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --headerHeight: 80px;
  --footerHeight: 50px;
  --primary: #4262FF;
  --primaryDark: #455BED;
  --white: #ffffff;
}
