.footer{
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryDark);
    min-height: var(--footerHeight);
    color: var(--white);
    font-size: 28px;
}